In [2]:
import psycopg2 as pg
import pandas.io.sql as psql
import pandas as pd

In [3]:
query_simtest = """
SELECT
  run,
  trim('"' FROM seq::text )::int as seq,
  trim('"' FROM block::text )::int as block,
  trim('"' FROM min::text )::int as min,
  --e0,
  e1::decimal/100000000 as batch_sec, -- time in sec as
  --e2
  ts::text::time

FROM
  (SELECT
    run,
    e->'ts' as ts,
    e->'seq' as seq,
    e->'log'->'height' as block,
    e->'log'->'min' as min,
    --e->'log'->'event' as event,
    e->'log'->'event'->0 as e0,
    e->'log'->'event'->1 as e1,
    e->'log'->'event'->2 as e2
  FROM
    fnode0.simtest) as s
WHERE
  e2::text like '%RUNTIME%'
ORDER BY
  run, seq ;
"""

connection = pg.connect("host='localdb' dbname=load user=load password='load'")

In [4]:
df = pd.read_sql_query(query_simtest,con=connection)
print(df)

   run       seq  block  min  batch_sec               ts
0    1     51597      5    1  16.796477  22:41:59.534000
1    1    167368      6    0  56.835707  22:42:30.721000
2    1    288768      7    0  50.843028  22:43:02.809000
3    1   1510106      8    0  62.631397  22:43:43.576000
4    1   3125080      9    0  63.903940  22:44:43.222000
5    1   4732400     10    0  75.828357  22:45:44.062000
6    1   6341174     11    0  68.763264  22:46:43.446000
7    1   7948681     12    0  82.824721         22:47:45
8    1   9138769     13    0  56.882989  22:48:27.443000
9    1  10711409     14    0  69.939835  22:49:28.443000

In [5]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd
from datetime import datetime

data = [
    go.Scatter(x=df['ts'], y=df['batch_sec']),

]

py.iplot(data, filename = 'time-series-simple')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~stackdump/0 or inside your plot.ly account where it is named 'time-series-simple'